@model IEnumerable<LMS_RAM.Models.Course>

@{
    ViewBag.Title = "Students Courses";
}

<h2>Students Courses</h2>

<p>
    @Html.ActionLink("Your Information", "Account", new { id = ViewBag.StudentId }) @*| @Html.ActionLink("Create New", "Create")*@
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Your Assignments", "Index", "StudentAssignment", new { id = item.Id }, null) |
            @Html.ActionLink("Your Uploads", "Index", "StudentShared", new { id = item.Id }, null) |
            @Html.ActionLink("Student Uploads", "SharedIndex", "StudentShared", new { id = item.Id }, null) |
            @Html.ActionLink("Teachers Details", "TeacherDetails", new { id = item.TeacherId }) |
            @Html.ActionLink("Teachers Uploads", "TeacherShared", new { id = item.Id }) |      
            @Html.ActionLink("Course Students", "CourseStudents", new { id = item.Id }) | 
            @Html.ActionLink("Course Schedule", "CourseSchedule", new { id = item.Id })
        </td>
    </tr>
}

</table>
